/* ユーザー情報テーブル */
.btn {
  margin: 0 10px;
}

.user-table {
  vertical-align: middle;
  text-align: center;
}

.wday0 {
  color: blue;
}

.wday6 {
  color: red;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 20px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* ユーザー一覧 */
.search {
  float: right;
}

.search p{
  font-weight: bolder;
  padding-top: 10px;
}